ion-card.center {
  margin: auto;
  margin-top: 10%;
}

ion-card.web {
  width: fit-content;
}

ion-item {
  align-items: end;
}

ion-label {
  margin: 0;
  white-space: nowrap;
}

ion-input {
  border-bottom: solid 2px var(--ion-color-medium);
  margin: 0 10px;
}

.item--with {
  align-items: flex-end;

  ion-input {
    text-align: center;
  }
}
