<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> AI Quiz </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  @if (!finished()) {

    <ion-segment mode="md" (ionChange)="onSegmentChange($event)" value="firstPack" class="ion-padding-bottom">
      <ion-segment-button value="settings" content-id="settings">
        <ion-label>Quiz Settings</ion-label>
      </ion-segment-button>
      <ion-segment-button value="quiz" content-id="quiz" [disabled]="questions().length === 0">
        <ion-label>Quiz</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-segment-view>
      <ion-segment-content id="settings">

        <ion-card mode="ios" class="ion-padding center" [class.web]="checkWith()">

          <ion-card-content>

            <ion-item>
              <ion-input type="text" placeholder="example angular quiz"
                label="Please type here the quiz that you want ai to generate" labelPlacement="floating"
                [(ngModel)]="aiPrompt().topic" />
            </ion-item>

            <ion-item>
              <ion-input type="tel" placeholder="example angular quiz" label="Please type the number of questions"
                labelPlacement="floating" min="1" [(ngModel)]="aiPrompt().count" />
            </ion-item>

          </ion-card-content>

          <ion-button (click)="loadQuiz()" expand="block" shape="round" class="ion-padding">
            Start
          </ion-button>

        </ion-card>


      </ion-segment-content>

      <ion-segment-content id="quiz">

        @if (questions().length > 0) {
          <app-quiz-card [currentIndex]="currentIndex()" [questions]="questions()" [selectedIndex]="selectedIndex()"
            (selectOptionEvent)="selectOption($event)" (submitAnswerEvent)="submitAnswer()" />
        }

      </ion-segment-content>
    </ion-segment-view>

  }

  @if (finished()) {
    <app-score-list [questions]="questions()" [score]="score()" (restart)="restart()" [userAnswers]="userAnswers()" />
  }

</ion-content>
