<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz Angular & TypeScript</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  @if (!finished()) {
    <ion-segment mode="md" (ionChange)="onSegmentChange($event)" value="firstPack">
      <ion-segment-button value="firstPack" content-id="firstPack">
        <ion-label>Pack 1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="secondPack" content-id="secondPack">
        <ion-label>Pack 2</ion-label>
      </ion-segment-button>

      <ion-segment-button value="thirdPack" content-id="thirdPack">
        <ion-label>Pack 3</ion-label>
      </ion-segment-button>
    </ion-segment>


    <ion-segment-view>
      <ion-segment-content id="firstPack">

        @if (!finished()) {
          <app-quiz-card [currentIndex]="currentIndex()" [questions]="questions()" [selectedIndex]="selectedIndex()"
            (selectOptionEvent)="selectOption($event)" (submitAnswerEvent)="submitAnswer()" />
        }

      </ion-segment-content>

      <ion-segment-content id="secondPack">

        <app-quiz-card [currentIndex]="currentIndex()" [questions]="questions()" [selectedIndex]="selectedIndex()"
          (selectOptionEvent)="selectOption($event)" (submitAnswerEvent)="submitAnswer()" />


      </ion-segment-content>

      <ion-segment-content id="thirdPack">

        <app-quiz-card [currentIndex]="currentIndex()" [questions]="questions()" [selectedIndex]="selectedIndex()"
          (selectOptionEvent)="selectOption($event)" (submitAnswerEvent)="submitAnswer()" />

      </ion-segment-content>

    </ion-segment-view>

  }

  @if (finished()) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultado</ion-card-title>
        <ion-card-subtitle>Score: {{ score() }} / {{ questions().length }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Revisão:</p>
        <ion-list>

          @for (q of questions(); track $index; let i = $index) {
            <ion-item>
              <ion-label>
                <h3>{{ i + 1 }}. {{ q.question }}</h3>
                <p>Tua resposta: {{ q.options[userAnswers()[i]] || '—' }}</p>
                <p>Resposta correta: {{ q.options[q.answer] }}</p>
              </ion-label>

              @if (userAnswers()[i] === q.answer) {
                <ion-icon name="checkmark-outline" color="success" />
              } @else {
                <ion-icon name="close-outline" color="danger" />
              }

            </ion-item>
          }

        </ion-list>

        <ion-button class="ion-padding-top" expand="block" (click)="restart()">Recomeçar</ion-button>
      </ion-card-content>
    </ion-card>
  }



</ion-content>
