ion-card.center {
  margin: auto;
  margin-top: 10%;
}

ion-card.web {
  width: fit-content;
}

ion-item {
  align-items: end;
}

ion-card-content {
  display: grid;
  gap: 20px;
  grid-template-rows: auto auto;
}

ion-label {
  margin: 0;
  white-space: nowrap;
  display: flex;
  align-items: end;
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
}

ion-input {
  border-bottom: solid 2px var(--ion-color-medium);
  margin: 0 10px;
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
}

.item--with {
  align-items: flex-end;

  ion-input {
    text-align: center;
  }
}

h1 {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
}
